node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
npm-debug.log*
yarn-error.log*
supabase/.branches
supabase/.temp
supabase/.env
coverage/
dev-dist/
